{{ define "main" }}
<article class="blog container mx-auto mt-32">
    <a
    class="ml-4 md:ml-4 mb-6 page-link transition ease-in-out duration-500 bg-transparent hover:bg-grey-500 text-grey-500 font-normal py-4 px-4 xl:py-6 xl:px-8 leading-none text-xl xl:text-2xl border border-grey-500 rounded-lg lg:inline-block text-center hover:shadow-md"
    href="/blog">
    &laquo; Vissza a bejegyzésekhez</a>
    {{- partial "pagination_post.html" . -}}
    <h1 class="font-bold text-3xl">{{ .Description }}</h1>
    <br />
    {{ .Content  }}
    {{- partial "pagination_post.html" . -}}
</article>
{{ end }}