{{ define "main" }}
<article class="mt-32 mx-4 sm:mx-12">
    <button
        class="mb-6 page-link transition ease-in-out duration-500 bg-transparent hover:bg-grey-500 text-grey-500 font-normal py-6 leading-none px-8 text-2xl border border-grey-500 rounded-lg lg:inline-block text-center hover:shadow-md"
        onclick="window.history.back();">
        &laquo; Vissza a bejegyzésekhez</button>
    <h1 class="font-bold text-3xl">{{ .Description }}</h1>
    <br />
    {{ .Content  }}
</article>
{{ end }}