{{ $manifest := resources.Get "../assets/img/fav/site.webmanifest" | fingerprint }}
{{ $icon16_16 := resources.Get "../assets/img/fav/images/icons/icon-16x16.png" | fingerprint }}
{{ $icon32_32 := resources.Get "../assets/img/fav/images/icons/icon-32x32.png" | fingerprint }}
{{ $icon144_144 := resources.Get "../assets/img/fav/images/icons/icon-144x144.png" | fingerprint }}
{{ $icon192_192 := resources.Get "../assets/img/fav/images/icons/icon-192x192.png" | fingerprint }}
{{ $icon512_512 := resources.Get "../assets/img/fav/images/icons/icon-512x512.png" | fingerprint }}
{{ $safariPinned := resources.Get "../assets/img/fav/safari-pinned-tab.svg" | minify | fingerprint }}
{{ $logo := resources.Get "../assets/img/onbased-logo.svg" | minify | fingerprint }}
{{ $hero := resources.Get "../assets/img/illu-man-desk.svg" | minify | fingerprint }}
{{ $iconContMail := resources.Get "../assets/img/icons/icon-mobile-mail.svg" | minify | fingerprint }}
{{ $iconContComp := resources.Get "../assets/img/icons/icon-content-compatiability.svg" | minify | fingerprint }}
{{ $iconContEdit := resources.Get "../assets/img/icons/icon-content-editable.svg" | minify | fingerprint }}
{{ $iconContDelivery := resources.Get "../assets/img/icons/icon-content-fast-devlivery.svg" | minify | fingerprint }}
{{ $iconMailHello := resources.Get "../assets/img/illu-mail-hello.svg" | minify | fingerprint }}
{{ $iconHtml := resources.Get "../assets/img/icons/icon-html.svg" | minify | fingerprint }}
{{ $iconShopify := resources.Get "../assets/img/icons/icon-shopify.svg" | minify | fingerprint }}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>OnBased - Marketing | Mi látunk téged!</title>
    <meta name="description" content="Engedd hogy segítsünk! Sokkal több mint egy marketing ügynökség.">
    <!-- Home Screen Icons -->
    <link rel="icon" sizes="192x192" href="{{ $icon192_192.Permalink }}">
    <link rel="apple-touch-icon-precomposed" href="{{ $icon512_512.Permalink }}"><!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $icon144_144.Permalink }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32_32.Permalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16_16.Permalink }}">
    <link rel="manifest" href="{{ $manifest.Permalink }}">
    <link rel="mask-icon" href="{{ $safariPinned.Permalink }}" color="#0052e2">
    <meta name="msapplication-TileColor" content="#0052e2">
    <meta name="theme-color" content="#ffffff"><!-- Facebook -->
    <meta property="og:site_name" content="OnBased - Marketing">
    <meta property="og:title" content="OnBased - Marketing | Mi látunk téged!">
    <meta property="og:image" content="https://marketing.onbased.com/onbased_marketing.png">
    <meta property="og:url" content="https://marketing.onbased.com">
    <meta property="article:author" content="https://marketing.onbased.com">
    <!-- Main Style -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {{ partial "head.html" .}}

</head>

<body>
    <!-- Nav -->
    <div class="container mx-auto">
        <div class="flex flex-wrap items-center mt-8 px-1 sm:px-8">
            <div class="w-full lg:w-1/2 mb-6 lg:mb-0 text-center lg:text-left"><a class="text-base font-bold"
                    href="."><img src="{{ $logo.Permalink }}" alt="" class="inline-block mr-2 w-40"></a></div>
            <div class="w-full lg:w-1/2 text-center">
                <nav class="flex w-full flex-wrap justify-center lg:justify-end"><a
                        class="w-1/3 md:w-auto sm:text-base text-sm font-normal text-white md:pl-6 md:pr-3 leading-none py-6 bg-black rounded-tl-lg md:rounded-l-lg rounded-bl-lg"
                        href="/#services">Szolgáltatásaink</a>
                    <!-- <a class="w-1/2 md:w-auto text-base font-normal text-white md:pl-3 md:pr-3 leading-none py-6 bg-black rounded-tr-lg md:rounded-tr-none"                        href="#pricing">Referenciáink</a> -->
                    <a class="w-1/6 md:w-auto sm:text-base text-sm font-normal text-white md:pl-3 md:pr-3 leading-none py-6 bg-black"
                        href="/#pricing">Áraink</a>
                    <a class="w-1/6 md:w-auto sm:text-base text-sm font-normal text-white md:pl-3 md:pr-3 leading-none py-6 bg-black"
                        href="/blog">Blog</a>
                    <a class="w-1/3 md:w-auto sm:text-base text-sm font-normal text-brand-200 md:pl-3 md:pr-6 leading-none py-6 bg-black rounded-br-lg md:rounded-r-lg rounded-tr-lg"
                        href="/#contact">Kérdésem van</a></nav>
            </div>
        </div>
    </div><!-- Hero -->
    <div class="container mx-auto mb-20 lg:mb-40">
        <div class="flex flex-wrap items-center mb-4 px-8 md:px-12">
            <div class="w-full lg:w-1/2">
                <h1 class="text-3xl lg:text-4xl xl:text-6xl font-bold mb-4 lg:mb-8 leading-tight">Mi látunk
                    téged!<br />Engedd hogy
                    segítsünk!</h1>
                <p class="mb-6 text-2xl">Sokkal több mint egy marketing ügynökség</p><a href="./#pricing"
                    class="shadow-lg bg-brand-500 hover:bg-brand-700 text-white font-normal py-4 px-6 xl:py-6 xl:px-8 leading-none rounded-lg text-xl xl:text-2xl block md:inline-block text-center mb-4">Megnézem
                    az árakat</a>
            </div>
            <div class="w-full lg:w-1/2 order-first lg:order-last mb-16 lg:mb-0"><img src="{{ $hero.Permalink }}"
                    alt=""></div>
        </div>
    </div><!-- features -->
    <section class="container mx-auto mb-20 lg:mb-40" id="services" name="services">
        <div class="flex flex-wrap mb-4 px-8 md:px-12">
            <header class="w-full lg:w-1/3 lg:pr-4 mb-8">
                <h2 class="text-3xl lg:text-4xl xl:text-5xl font-bold mb-4 lg:mb-8 leading-tight">Szolgáltatásaink</h2>
                <a href="./#pricing"
                    class="bg-transparent hover:bg-brand-500 text-brand-500 font-normal hover:text-white py-4 px-6 xl:py-6 xl:px-8 leading-none text-xl xl:text-2xl border border-brand-500 hover:border-transparent rounded-lg hidden lg:inline-block text-center hover:shadow-md">Megnézem
                    az árakat</a>
            </header>
            <div class="w-full lg:w-2/3">
                <div class="flex md:-mx-4 flex-wrap mb-4 lg:px-0">
                    <article class="w-full md:w-1/2 mb-8 lg:mb-10 md:px-4"><img src="{{ $iconContMail.Permalink }}"
                            alt="" class="block mb-4">
                        <h3 class="text-2xl mb-4">SEO optimalizálás</h3>
                        <!-- <p>Emails are essential to every business. That’s why we make sure all your email designs are
                            responsive and work on any screen.</p> -->
                    </article>
                    <article class="w-full md:w-1/2 mb-8 lg:mb-10 md:px-4"><img src="{{ $iconContComp.Permalink }}"
                            alt="" class="block mb-4">
                        <h3 class="text-2xl mb-4">Email alapú marketing kampány</h3>
                        <!-- <p>No matter where your emails appear, they maintain the same high quality look. We test on all
                            major email clients like Outlook, Gmail, IOS, Android, and more.</p> -->
                    </article>
                    <article class="w-full md:w-1/2 mb-8 lg:mb-10 md:px-4"><img src="{{ $iconContMail.Permalink }}"
                            alt="" class="block mb-4">
                        <h3 class="text-2xl mb-4">Termékfotózás, videózás</h3>
                        <!-- <p>You’re in control. Easily manage the content of your emails, including text and images, with
                            mailchimp integration.</p> -->
                    </article>
                    <article class="w-full md:w-1/2 mb-8 lg:mb-10 md:px-4"><img src="{{ $iconContMail.Permalink }}"
                            alt="" class="block mb-4">
                        <h3 class="text-2xl mb-4">Video alapú marketing kampány</h3>
                        <!-- <p>You’re in control. Easily manage the content of your emails, including text and images, with
                            mailchimp integration.</p> -->
                    </article>
                    <article class="w-full md:w-1/2 mb-8 lg:mb-10 md:px-4"><img src="{{ $iconContDelivery.Permalink }}"
                            alt="" class="block mb-4">
                        <h3 class="text-2xl mb-4">Hatékony és gyors megvalósítás</h3>
                        <!-- <p>Get your handcrafted emails in as little as 2–3 days. Want to learn more? Chat with us today
                            for a free review and estimated delivery time.</p> -->
                    </article>
                    <article class="w-full md:w-1/2 mb-8 lg:mb-10 md:px-4"><img src="{{ $iconContComp.Permalink }}"
                            alt="" class="block mb-4">
                        <h3 class="text-2xl mb-4">Teljes arculat kialakítás, Logo tervezés, Webdesign</h3>
                        <!-- <p>No matter where your emails appear, they maintain the same high quality look. We test on all
                            major email clients like Outlook, Gmail, IOS, Android, and more.</p> -->
                    </article>
                </div>
            </div>
        </div>
    </section><!-- steps -->
    <!-- <section class="container mx-auto mb-20 lg:mb-40" id="steps" name="steps">
        <header class="flex flex-wrap mb-4 lg:mb-16 px-8 md:px-12 justify-center">
            <div class="w-full lg:w-2/3">
                <h2 class="text-3xl lg:text-6xl font-bold mb-4 lg:mb-8 leading-tight lg:text-center">Get your email
                    templates <span class="lg:block">coded in a flash</span></h2>
                <div class="lg:text-center">
                    <p
                        class="text-base leading-none font-text font-normal text-green-500 inline-block px-2 py-1 rounded-2xl mb-4">
                        <span class="circle-pulse"></span> Quick delivery in 2–3 business days</p>
                </div>
            </div>
        </header>
        <div class="flex flex-wrap mb-4 px-8 md:px-12">
            <article class="w-full lg:w-1/3 mb-4">
                <hr class="step-line hidden lg:display-block"><span
                    class="rounded-full h-8 w-8 flex items-center justify-center bg-brand-500 text-white mb-8 step">1</span>
                <div class="mb-8 lg:mb-10 lg:pr-8">
                    <h3 class="text-2xl mb-4">Placing an order</h3>
                    <p>Just send your design files to our developer team in the file format of your choice: Photoshop,
                        Sketch, Adobe XD, or even Figma.</p>
                </div>
            </article>
            <article class="w-full lg:w-1/3 mb-4">
                <hr class="step-line hidden lg:display-block"><span
                    class="rounded-full h-8 w-8 flex items-center justify-center bg-brand-500 text-white mb-8 step">2</span>
                <div class="mb-8 lg:mb-10 lg:pr-8">
                    <h3 class="text-2xl mb-4">Coding &amp; testing</h3>
                    <p>We convert your custom designs into fully functional emails and test their compatibility with
                        major email clients and on mobile devices.</p>
                </div>
            </article>
            <article class="w-full lg:w-1/3 mb-4">
                <hr class="step-line hidden lg:display-block step-line-highlight"><span
                    class="rounded-full h-8 w-8 flex items-center justify-center bg-green-500 text-white mb-8 step step-highlight">3</span>
                <div class="mb-8 lg:mb-10 lg:pr-8">
                    <h3 class="text-2xl mb-4">Fast delivery &amp; support</h3>
                    <p>Ship your email templates to your customers’ inboxes within 2–3 days. Questions or changes? Our
                        live chat support is happy to answer any questions and make tweaks to your templates.</p>
                </div>
            </article>
        </div>
        <div class="text-center"><a href="./#pricing"
                class="bg-transparent hover:bg-brand-500 text-brand-500 font-normal hover:text-white py-6 leading-none px-8 text-2xl border border-brand-500 hover:border-transparent rounded-lg hidden lg:inline-block text-center hover:shadow-md">Check
                prices</a></div>
    </section> -->
    <!-- pricing -->
    <section class="container mx-auto mb-20 lg:mb-40" id="pricing" name="pricing">
        <!-- <img
            src="{{ $iconMailHello.Permalink }}" alt="" class="block mx-auto mb-6"> -->
        <header class="flex flex-wrap mb-4 lg:mb-8 px-8 md:px-12 justify-center">
            <div class="w-full lg:w-1/2">
                <h2 class="text-3xl lg:text-6xl font-bold mb-4 lg:mb-8 leading-tight lg:text-center">Áraink</h2>
            </div>
        </header>
        <header class="flex flex-wrap mb-4 lg:mb-16 px-8 md:px-12 justify-center">
            <div class="w-full lg:w-3/4">
                <h2 class="text-2xl lg:text-3xl font-bold mb-4 lg:mb-2 leading-tight lg:text-center">Online marketing
                    kampányok tervezése és lebonyolítása (Facebook, Instagram, Twitter, Google)</h2>
            </div>
        </header>
        <div class="flex flex-wrap mb-4 px-8 md:px-12 justify-center">
            <article class="w-full lg:w-3/5 xl:w-1/2 border mb-4">
                <header class="px-8 pt-8 pb-8"><span
                        class="text-base leading-none font-text font-normal text-red-500 inline-block py-1 rounded-2xl mb-4">&nbsp;</span>
                    <h3 class="text-2xl mb-4"><span class="md:text-8xl text-4xl block">29.990 Ft -tól
                            <!-- <span
                                class="text-base leading-none font-text font-normal bg-gray-200 inline-block px-2 py-1 rounded-2xl mb-4"><img
                                    src="{{ $iconHtml.Permalink }}" alt="" class="inline-block mx-auto mr-1">
                            </span> -->
                        </span>Alap csomag</h3>
                    <p class="">Ideális induló vállalkozások számára</p>
                </header>
                <hr class="border-top-1 mb-8">
                <div class="px-8 pb-8">
                    <ul class="mb-8 height-min-pricing-list">
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Szaktanácsadás</span>
                        </li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Reklámanyag
                                elkészítése</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Egyedi
                                célközönség kialakítása</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Hirdetési
                                KPI-ok</span></li>
                    </ul><a href="mailto:marketing@onbased.com?subject=Megrendelés - Online marketing - Alap csomag"
                        class="bg-transparent hover:bg-brand-500 text-brand-500 font-normal hover:text-white py-6 leading-none px-8 text-2xl border border-brand-500 hover:border-transparent rounded-lg block text-center hover:shadow-md mb-4">Megrendelem</a>
                    <span class="text-center block font-body"><span class="font-medium">Lépj
                            kapcsolatba</span> velünk!</span>
                </div>
            </article>
            <article class="w-full lg:w-3/5 xl:w-1/2 border mb-4 lg:-ml-px">
                <header class="px-8 pt-8 pb-8"><span
                        class="text-base leading-none font-text font-normal bg-red-50 text-red-500 inline-block px-2 py-1 rounded-2xl mb-4">★
                        Legnépszerűbb</span>
                    <h3 class="text-2xl mb-4"><span class="md:text-8xl text-4xl block">59.990 Ft -tól
                            <!-- <span
                                class="text-base leading-none font-text font-normal bg-gray-200 inline-block px-2 py-1 rounded-2xl mb-4"><img
                                    src="{{ $iconHtml.Permalink }}" alt="" class="inline-block mx-auto mr-1">
                                <img src="{{ $iconShopify.Permalink }}" alt="" class="inline-block mx-auto mr-1">
                            </span> -->
                        </span>Bővített csomag</h3>
                    <p class="">Ideális növekvő vállalkozások számára</p>
                </header>
                <hr class="border-top-1 mb-8">
                <div class="px-8 pb-8">
                    <ul class="mb-8 height-min-pricing-list">
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal bg-brand-50 text-brand-500 px-2 py-1 rounded-2xl">Minden,
                                amit az alap csomag tartalmaz</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Egyedi
                                célközönség iterativ fejlesztése</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Konverzió
                                követés</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal bg-brand-50 text-brand-500 px-2 py-1 rounded-2xl">Átfogó
                                jelentés a hirdetés lejártával</span></li>
                    </ul><a href="mailto:marketing@onbased.com?subject=Megrendelés - Online marketing - Bővített csomag"
                        class="bg-brand-500 hover:bg-brand-700 text-white font-normal hover:text-white py-6 leading-none px-8 text-2xl border border-brand-500 hover:border-transparent rounded-lg block text-center shadow-md mb-4">Megrendelem</a>
                    <span class="text-center block font-body"><span class="font-medium">Lépj
                            kapcsolatba</span> velünk!</span>
                </div>
            </article>
        </div>
        <header class="flex flex-wrap mb-4 mt-16 lg:mb-8 lg:mt-24 px-8 md:px-12 justify-center">
            <div class="w-full lg:w-1/2">
                <h2 class="text-2xl lg:text-3xl font-bold mb-4 lg:mb-2 leading-tight lg:text-center">Termék fotózás vagy
                    videózás</h2>
            </div>
        </header>
        <div class="flex flex-wrap mb-4 px-8 md:px-12 justify-center">
            <article class="w-full lg:w-3/5 xl:w-1/2 border mb-4">
                <header class="px-8 pt-8 pb-8"><span
                        class="text-base leading-none font-text font-normal text-red-500 inline-block py-1 rounded-2xl mb-4">&nbsp;</span>
                    <h3 class="text-2xl mb-4"><span class="md:text-8xl text-4xl block">89.990 Ft -tól
                            <!-- <span
                                class="text-base leading-none font-text font-normal bg-gray-200 inline-block px-2 py-1 rounded-2xl mb-4"><img
                                    src="{{ $iconHtml.Permalink }}" alt="" class="inline-block mx-auto mr-1">
                            </span> -->
                        </span>Alap csomag</h3>
                    <p class="">Ideális induló vállalkozások számára</p>
                </header>
                <hr class="border-top-1 mb-8">
                <div class="px-8 pb-8">
                    <ul class="mb-8 height-min-pricing-list-half">
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal bg-brand-50 text-brand-500 px-2 py-1 rounded-2xl">Stúdióban,
                                vagy külső helyszínen</span>
                        </li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Szakképzett
                                fotós segítségével</span></li>
                    </ul><a href="mailto:marketing@onbased.com?subject=Megrendelés - Termékfotózás, videózás"
                        class="bg-transparent hover:bg-brand-500 text-brand-500 font-normal hover:text-white py-6 leading-none px-8 text-2xl border border-brand-500 hover:border-transparent rounded-lg block text-center hover:shadow-md mb-4">Megrendelem</a>
                    <span class="text-center block font-body"><span class="font-medium">Lépj
                            kapcsolatba</span> velünk!</span>
                </div>
            </article>
        </div>
        <header class="flex flex-wrap mb-4 mt-16 lg:mb-8 lg:mt-24 px-8 md:px-12 justify-center">
            <div class="w-full lg:w-1/2">
                <h2 class="text-2xl lg:text-3xl font-bold mb-4 lg:mb-2 leading-tight lg:text-center">SEO optimalizáslás
                </h2>
            </div>
        </header>
        <div class="flex flex-wrap mb-4 px-8 md:px-12 justify-center">
            <article class="w-full lg:w-3/5 xl:w-1/2 border mb-4">
                <header class="px-8 pt-8 pb-8"><span
                        class="text-base leading-none font-text font-normal text-red-500 inline-block py-1 rounded-2xl mb-4">&nbsp;</span>
                    <h3 class="text-2xl mb-4"><span class="md:text-8xl text-4xl block">49.990 Ft -tól
                            <!-- <span
                                class="text-base leading-none font-text font-normal bg-gray-200 inline-block px-2 py-1 rounded-2xl mb-4">
                                <img
                                    src="{{ $iconHtml.Permalink }}" alt="" class="inline-block mx-auto mr-1">
                            </span> -->
                        </span>Keresőmarketing és Keresőoptimalizálás szolgáltatásunk</h3>
                    <p class="">Ideális induló vállalkozások számára</p>
                </header>
                <hr class="border-top-1 mb-8">
                <div class="px-8 pb-8">
                    <ul class="mb-8 height-min-pricing-list-half">
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal bg-brand-50 text-brand-500 px-2 py-1 rounded-2xl">Kulcsszavak
                                meghatározása</span>
                        </li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Weboldal
                                átalakítása</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Tartalom
                                bővítés</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Linképítés</span>
                        </li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal text-brand-500 px-2 py-1 rounded-2xl">Weboldal
                                elemzés</span></li>
                        <li class="flex items-center"><span class="text-3xl text-brand-500 pr-2">✓</span> <span
                                class="text-base leading-none font-text font-normal bg-brand-50 text-brand-500 px-2 py-1 rounded-2xl">Monitoring
                                - Reportok</span></li>
                    </ul><a
                        href="mailto:marketing@onbased.com?subject=Megrendelés - Keresőmarketing és Keresőoptimalizálás"
                        class="bg-transparent hover:bg-brand-500 text-brand-500 font-normal hover:text-white py-6 leading-none px-8 text-2xl border border-brand-500 hover:border-transparent rounded-lg block text-center hover:shadow-md mb-4">Megrendelem</a>
                    <span class="text-center block font-body"><span class="font-medium">Lépj kapcsolatba</span>
                        velünk!</span>
                </div>
            </article>
        </div>
    </section>
    <section class="container mx-auto mb-20 lg:mb-40" id="contact" name="contact">
        <div class="flex flex-wrap mb-4 px-8 md:px-12">
            <header class="w-full lg:w-1/3 lg:pr-4 mb-8">
                <h2 class="text-3xl lg:text-6xl font-bold mb-4 lg:mb-8 leading-tight">Kérdésed van?</h2><a
                    href="mailto:support@onbased.com?subject=Kérdés marketinggel kapcsolatban" target="_blank"
                    class="shadow-lg bg-brand-500 hover:bg-brand-700 text-white font-normal py-6 leading-none px-8 rounded-lg text-2xl block md:inline-block text-center mb-4">Kérdezek</a>
            </header>
            <!-- <div class="w-full lg:w-2/3">
                <div class="flex md:-mx-4 flex-wrap mb-4 lg:px-0 justify-center">
                    <article class="w-full md:w-3/4 mb-8 lg:mb-10 md:px-4">
                        <h3 class="text-2xl mb-4">Will my template be mobile friendly?</h3>
                        <p>Yes! We will make sure your email looks just like the desktop and mobile layouts you
                            provided, although some tweaks might be necessary to successfully deliver a responsive
                            email.</p>
                    </article>
                    <article class="w-full md:w-3/4 mb-8 lg:mb-10 md:px-4">
                        <h3 class="text-2xl mb-4">Can I validate the design before placing an order?</h3>
                        <p>Of course. Just email us your design files, and we will inspect the design’s compatibility
                            and get back to you as quickly as possible.</p>
                    </article>
                </div>
            </div> -->
        </div>
    </section>
    {{ partial "footer.html" }}
</body>

</html>
<!-- {{ define "main" }}
<article class="text-center text-gray-700">
    <h1 class="font-serif font-thin text-5xl text-gray-500">asdasd {{ .Title }}</h1>
    {{ .Content }}
</article>
{{ end }} -->