table {
    margin: 2rem;
}
th{
    background: rgb(255,122,56);
    background: linear-gradient(0deg, rgba(255,122,56,1) 0%, rgba(255,83,83,1) 100%);
    padding: 10px;
    font-family: trebuchet ms;
    font-size: 100%;
    color: white;
    border:1px solid black;
    text-align:left !important;
}
td {
    border:1px solid black !important;
    padding: 10px;
}

.breadcrumb {
    background-color: #fff !important;
}

.showcase {
    margin-bottom: 10rem;
}

.showcase p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.showcase hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.showcase h1, .showcase h2, .showcase h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
