{{ $logo := resources.Get "../assets/img/onbased-logo.svg" | minify | fingerprint }}

<header class="w-full">

    <div class="container mx-auto">
        <div class="flex flex-wrap items-center mt-8 px-1 sm:px-8">
            <div class="w-full lg:w-1/2 mb-6 lg:mb-0 text-center lg:text-left"><a class="text-base font-bold"
                    href="."><img src="{{ $logo.Permalink }}" alt="" class="inline-block mr-2 w-40"></a></div>
            <div class="w-full lg:w-1/2 text-center">
                <nav class="flex w-full flex-wrap justify-center lg:justify-end"><a
                        class="w-1/3 md:w-auto sm:text-base text-sm font-normal text-white md:pl-6 md:pr-3 leading-none py-6 bg-black rounded-tl-lg md:rounded-l-lg rounded-bl-lg"
                        href="/#services">Szolgáltatásaink</a>
                    <a class="w-1/6 md:w-auto sm:text-base text-sm font-normal text-white md:pl-3 md:pr-3 leading-none py-6 bg-black"
                        href="/#pricing">Áraink</a>
                    <a class="w-1/6 md:w-auto sm:text-base text-sm font-normal text-white md:pl-3 md:pr-3 leading-none py-6 bg-black"
                        href="/blog">Blog</a>
                    <a class="w-1/3 md:w-auto sm:text-base text-sm font-normal text-brand-200 md:pl-3 md:pr-6 leading-none py-6 bg-black rounded-br-lg md:rounded-r-lg rounded-tr-lg"
                        href="/#contact">Kérdésem van</a>
                </nav>
            </div>
        </div>
    </div><!-- Hero -->
</header>