	<section id="fh5co-about" data-section="about">
		<div class="to-animate figure-8"></div>
		<div class="to-animate figure-7"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row justify-content-md-center">
						<div class="col-md-8 subtext to-animate">
							<h3>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
            </div>
            <div class="row equal">
                {{ range $i, $a := .Site.Params.about.item1 }}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 py-5">
                        <div class="fh5co-person text-center to-animate d-flex align-items-end flex-column">
                            <figure><img src="/images/{{ $a.img }}" alt="{{ $a.alt }}"></figure>
                            <h4 class="mx-auto">{{ $a.name | markdownify }}</h4>
                            <p class="mx-auto fh5co-position">{{ $a.position | markdownify }}</p>
                            <p>{{ $a.description | markdownify }}</p>
                            <ul class="social social-circle mt-auto">
                                {{ range $a.social }}
                                <li><a href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}
            </div>
			<div class="row equal">
			{{ range $i, $a := .Site.Params.about.item }}
				<div class="col-12 col-sm-12 col-md-6 col-lg-6 py-5">
					<div class="fh5co-person text-center to-animate d-flex align-items-end flex-column">
						<figure><img src="/images/{{ $a.img }}" alt="{{ $a.alt }}"></figure>
						<h4 class="mx-auto">{{ $a.name | markdownify }}</h4>
						<span class="fh5co-position">{{ $a.position | markdownify }}</span>
						<p>{{ $a.description | markdownify }}</p>
						<ul class="social social-circle mt-auto">
							{{ range $a.social }}
							<li><a href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
							{{ end }}
						</ul>
					</div>
				</div>
			{{ end }}
			</div>
		</div>
	</section>