	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<h3 class="mt-4">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h3>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
					<ul class="footer-info">
						{{ range .Site.Params.contact.details }}
						<li class="footer-address "><i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
						{{ end }}
					</ul>
				</div>
				<div class="col-md-4 text-right">
					<p class="mr-2">{{ with .Site.Params.contact.socialTitle }}{{ . | markdownify }}{{ end }}</p>
					<ul class="social social-circle">
						{{ range .Site.Params.footer.links }}
						<li class="text-center"><a href="{{ with index . 1}}{{ . }}{{ end }}"><i class="{{ with index . 0}}{{ . }}{{ end }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<footer id="underfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p><p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p></p>
				</div>
			</div>
		</div>
	</footer>
