<!-- <section id="fh5co-home" data-section="home" style="background-image: url(/images/{{ .Site.Params.hero.background }}); background-repeat: no-repeat; background-position-y: top; background-size: cover; background-position: center;" data-stellar-background-ratio="0.5"> -->
<section id="fh5co-home" data-section="home">
	<!-- <div id="particles-js" class="gradient"></div> -->
	<!-- <div class="to-animate figure-1"></div>
	<div class="to-animate figure-2"></div> -->

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="text-wrap">
					<div class="text-inner">
						<h4 class="to-animate">{{ with .Site.Params.hero.welcome }}{{ . | markdownify }}{{ end }} </h4>
						<h1 class="to-animate">{{ with .Site.Params.hero.title1 }}{{ . | markdownify }}{{ end }} </h1>
						<h1 class="to-animate">{{ with .Site.Params.hero.title2 }}{{ . | markdownify }}{{ end }} </h1>
						<h1 class="to-animate">{{ with .Site.Params.hero.title3 }}{{ . | markdownify }}{{ end }} </h1>
						<div class="col-md-12 to-animate" style="margin-top: 5rem;">
							<a href="{{ .Site.Params.hero.callforactionLink }}" type="button"
							class="btn btn-cto">{{ .Site.Params.hero.callforactionCaption }}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 hero-image" data-parallax>
				<div class="hero-image-layer layer1"></div>
				<div class="hero-image-layer layer2"></div>
				<div class="hero-image-layer layer3"></div>
				<div class="hero-image-layer layer4"></div>
				<div class="hero-image-layer layer5"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{{ range .Site.Params.intro.item }}
			<div class="fh5co-block to-animate" style="background-image: url(/images/{{ .img }});">
				<div class="overlay-darker"></div>
				<div class="overlay"></div>
				<div class="fh5co-text">
					<i class="fh5co-intro-icon {{ .icon }}"></i>
					<h2>{{ .title }}</h2>
					<p>{{ .description }}</p>
					<p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	<!-- <div class="slant"></div> -->
</section>