<section id="fh5co-intro">
    
    <div class="to-animate figure-3"></div>
    <div class="to-animate figure-4"></div>

    <div class="container">

          <!-- <div class="row equal my-5 mx-auto">
            {{ range .Site.Params.intro.item }}
                <div class="item col-lg-6 col-md-12 my-2 mx-auto">
                  <a href="{{ .url }}" style="height: 100%; width: 100%;" class="fh5co-block to-animate js-scroll-trigger"> 
                        <div class="fh5co-text card-body mx-3">
                            {{ $save := . }}
                            {{ range .image }}
                            <img src="{{ . }}" class="fh5co-intro-icon"></img>
                            {{ end }}
                            <p class="title mt-2">{{ .title }}</p>
                        </div>
                   </a>
                </div>
            {{ end }}
        </div>-->

        <div class="col-md-12 section-heading">
            <h2 class="text-center mt-5 pt-5">{{ .Site.Params.intro.title }}</h2>
            <h3 class="description">{{ .Site.Params.intro.description }}</h3>
        </div>
        
    </div>
</section>