<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Popper -->
<!-- <script src="js/popper.min.js"></script> -->
<!-- Bootstrap -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
	$('.dropdown-toggle').dropdown()
</script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Counter -->
<script src="/js/jquery.countTo.js"></script>
<!-- Google Map -->
{{ if .Site.Params.contact.map }}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUV9VObusZZgyoQLmU_7Z0vnyqJiuGt0I"></script>
<script src="/js/google_map.js"></script> {{ end }}
<!-- Main JavaScript -->
<script src="/js/main.js"></script>

<!-- Particles -->
<!-- <script src="/js/particles.min.js"></script>
<script src="/js/particles.app.js"></script> -->

<!-- Terminal -->
<!-- <script src="/js/terminal.js"></script> -->
<!-- <script>
	consoleText([
		{{ range $index, $element:= .Site.Params.hero.keyword }}
		{{ if $index }}, {{ end }}
		{{ $element }}
		{{ end }}
	], 'text');
</script> -->

<!-- Cookies -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#CF5844"
    }
  },
  "theme": "classic",
  "position": "bottom-left",
  "content": {
	"dismiss" : {{ .Site.Params.cookieconsent.dismiss }},
	"message": {{ .Site.Params.cookieconsent.text }},
	"link": {{ .Site.Params.cookieconsent.link }},
    "href": "{{.Site.BaseURL}}/docs/privacy-policy.pdf"
  }
})});
</script>
