<!-- page title -->
<section class="page-title-section overlay" >
  <div class="container" style="margin-top: 5rem;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{- range .Ancestors.Reverse }}
        <li class="breadcrumb-item"><a href="{{ .RelPermalink }}">{{ if .IsHome }}{{ i18n "home" }}{{ else }}{{ .Title }}{{ end }}</a></li>
        {{- end }}
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
  </div>
</section>
