<section id="fh5co-showcases" data-section="showcases">
    
    <div class="to-animate figure-5"></div>
    <div class="to-animate figure-10" style="margin-top: 5rem;"></div>

    <div class="container">
        <div class="row">
            <div class="text-center col-md-12 section-heading">
                <h2 class="to-animate">{{ with .Site.Params.showcases.title }}{{ . | markdownify }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-12 subtext to-animate">
                        <h3 class="text-center">{{ with .Site.Params.showcases.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row equal my-5 mx-auto">
            {{ range .Site.Params.showcases.item }}
                <div class="item col-lg-4 col-md-9 my-2 mx-auto">
                    <a href="{{ .url | absURL }}" style="height: 100%; width: 100%;" class="fh5co-block to-animate js-scroll-trigger">
                        <!-- <div class="overlay-darker"></div>
                        <div class="overlay"></div> -->
                        <div class="fh5co-text card-body mx-3">
                            <img src="{{ .image | absURL }}" class="fh5co-values-icon"></img>
                            <p class="title mt-2">{{ .title }}</p>
                            <p>{{ .description }}</p>
                            <!-- <p><a href="{{ .url }}" class="btn btn-primary">{{ .button}}</a></p> -->
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
</section>
