<section id="fh5co-showcases" data-section="showcases">
    
    <div class="to-animate figure-5"></div>
    <div class="to-animate figure-10" style="margin-top: 5rem;"></div>

    <div class="container">
        <div class="row">
            <div class="text-center col-md-12 section-heading">
                <h2 class="to-animate">{{ with .Site.Params.showcases.title }}{{ . | markdownify }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-12 subtext to-animate">
                        <h3 class="text-center">{{ with .Site.Params.showcases.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-content-between flex-wrap equal mx-auto">
            {{- range .Data.Pages -}}
                {{- range .Pages -}}
                    <div class="col-lg-4 col-md-9 py-3">
                        <div class="gradient-card gradient-card-hover" style="height: 100%; width: 100%;">
                            <a href="{{ .Permalink }}" style="height: 100%; width: 100%;" class="fh5co-block to-animate js-scroll-trigger">
                                <div class="fh5co-text card-body ma-3">
                                    <img class="card-img-top" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
                                    <p class="title mt-3">{{ .Title }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {{- end -}}
            {{- end -}}            
        </div>
    </div>
</section>
