{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
{{ $microdata_type = "BlogPosting" }}
{{ else if eq $item.Type "talk" }}
{{ $microdata_type = "Event" }}
{{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
{{ $microdata_type = "ScholarlyArticle" }}
{{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
{{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
{{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
{{ $summary = $item.Summary }}
{{ else }}
{{ $summary = $item.Content }}
{{ end }}

<a href="{{ $item.RelPermalink }}" itemprop="url"
  class="hover:shadow-xl ease-in-out max-w-sm w-full mx-auto lg:max-w-full lg:flex mt-6 block duration-500" itemscope
  itemtype="http://schema.org/{{$microdata_type}}">
  <div
    class="h-64 lg:h-auto lg:w-64 flex-none bg-cover border-r border-t border-b border-l lg:border-l lg:border-t rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
    style="background-image: url('{{ $item.Permalink }}../featured.jpg'); background-size: cover; background-position: center;"
    title="{{ $item.Title }}">
  </div>
  <div
    class="p-6 border-r border-b border-l lg:border-l-0 lg:border-t bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal max-w-sm w-full lg:max-w-full">
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">
        <!-- <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
        </svg>
        Members only -->
      </p>
      <h3 class="text-3xl mb-4">{{ $item.Title }}</h3>
      {{ with $summary }}
      <!-- <p class="text-brand-500 font-bold text-xl mb-4">{{ $item.Description }}</p> -->
      <p class="text-xl mb-4">{{ $item.Description }}</p>
      {{ end }}
    </div>
    <div class="w-full text-right">
      <!-- <img class="w-10 h-10 rounded-full mr-4" src="/img/jonathan.jpg" alt="Avatar of Jonathan Reinink"> -->
      <div class="text-sm">
        {{ if $item.Params.author }}
        <p class="text-gray-900 leading-none">{{  $item.Params.author }}</p>
        {{ end }}
        <p class="text-gray-600 mt-2">{{ (time $item.Date).Format "2006 Jan 2"  }}</p>
      </div>
    </div>
  </div>
</a>

<!-- 
<div class="article" itemscope itemtype="http://schema.org/{{$microdata_type}}">
  <a href="{{ $item.RelPermalink }}" itemprop="url" class="flex w-full md:w-5/10 xl:w-5/10 px-4 py-4">

    <article class="flex w-full flex-col shadow hover:shadow-xl rounded-lg ease-in-out">
      <div class="block w-full"><img src="{{ $item.Permalink }}../featured.jpg"
          srcset="{{ $item.Permalink }}../featured.jpg" class="block mx-auto rounded-t-lg" width="560" height="350"
          alt="{{ $item.Title }}" name="{{ $item.Title }}" title="{{ $item.Title }}" loading="lazy"></div>

      {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $img }}
      {{ $big := .Fill "1024x512 top" }}
      {{ $small := $big.Resize "512x" }}
      <img srcset="{{ $small.RelPermalink }} 1x, {{ $big.RelPermalink }} 2x" alt="{{ $img.Title }}"
        width="{{ $big.Width }}" class="mw-100 b--light-gray ba">
      {{ end }}

      <div class="block w-full px-6 py-6">
        <h3 class="text-2xl mb-4">{{ $item.Title }}</h3>
        {{ with $summary }}
        <p class="text-lg text-brand-500 font-medium">{{ $item.Description }}</p>
        {{ end }}
        {{ if $item.Params.author }}
        <p class="text-lg">{{  $item.Params.author }}</p>
        {{ end }}
      </div>
    </article>

  </a>
</div> -->

<!-- <div class="card-simple" itemscope itemtype="http://schema.org/{{$microdata_type}}">

  <a href="{{ $item.RelPermalink }}" itemprop="url">
    <img src="{{ $item.Permalink }}../featured.jpg" class="article-banner" ALIGN=”top” width="400ww" itemprop="image"
      alt="">
  </a>
  <h2 class="article-title mb-1 mt-0" itemprop="name">
    <a href="{{ $item.RelPermalink }}" itemprop="url">{{ $item.Title }}</a>
  </h2>
  {{ if $item.Params.author }}
  <div itemprop="author">
    {{  $item.Params.author }}
  </div>
  {{ end }}

  {{ if eq $item.Type "talk" }}
  <div class="article-metadata">

    <span itemprop="startDate">
      {{ $date := $item.Date }}
      {{ (time $date).Format "2020 January 2"  }}
      {{ if not $item.Params.all_day }}
      {{ (time $date).Format (site.Params.time_format | default "3:04 PM") }}
      {{ with $item.Params.date_end }}
      &mdash; {{ (time .).Format (site.Params.time_format | default "3:04 PM") }}
      {{ end }}
      {{ end }}

    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span itemprop="location">{{ . }}</span>
    {{ end }}
  </div>
  {{ else }}
  {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
  {{ end }}
  {{ with $summary }}
  <div class="article-style" itemprop="articleBody">
    {{ $item.Description }}
  </div>
  {{ end }}

  <br /><br /><br />


</div>
</div> -->

<!-- 
 <a href="./shopify-email-templates" class="flex w-full md:w-5/10 xl:w-5/10 px-4 py-4">
  <article class="flex w-full flex-col shadow hover:shadow-xl rounded-lg ease-in-out">
    <div class="block w-full"><img
        src="https://res.cloudinary.com/dxa66e5ic/image/upload/c_scale,f_auto,q_auto:best,w_560/v1569586302/emails/img-ecommerce-templates_4x.png"
        srcset="https://res.cloudinary.com/dxa66e5ic/image/upload/c_scale,f_auto,q_auto:best,w_560/v1569586302/emails/img-ecommerce-templates_4x.png, https://res.cloudinary.com/dxa66e5ic/image/upload/c_scale,f_auto,q_auto:best,w_1120/v1569586302/emails/img-ecommerce-templates_4x.png 2x, https://res.cloudinary.com/dxa66e5ic/image/upload/c_scale,f_auto,q_auto:best,w_1680/v1569586302/emails/img-ecommerce-templates_4x.png 3x, https://res.cloudinary.com/dxa66e5ic/image/upload/c_scale,f_auto,q_auto:best,w_2240/v1569586302/emails/img-ecommerce-templates_4x.png 4x"
        class="block mx-auto rounded-t-lg" width="560" height="350" alt="34 eCommerce email templates"
        name="34 eCommerce email templates" title="34 eCommerce email templates" loading="lazy"></div>
    <div class="block w-full px-6 py-6">
      <h3 class="text-2xl mb-4">34 Responsive eCommerce email templates</h3>
      <p class="text-lg text-brand-500 font-medium">Free and paid options from $9 ›</p>
      <p class="text-lg">for Sketch, Figma, HTML and Shopify</p>
    </div>
  </article>
  </a> -->