{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="container mt-12">
  <div class="pagination flex flex-wrap">
    <div class="w-1/2 ml-auto text-left">
      {{ if .Paginator.HasPrev }}<a
        class="page-link transition ease-in-out duration-500 bg-transparent hover:bg-grey-500 text-grey-500 font-normal py-6 leading-none px-8 text-2xl border border-grey-500 rounded-lg lg:inline-block text-center hover:shadow-md"
        href="{{ .Paginator.Prev.URL }}">&laquo;</a>
      {{ end }}
    </div>
    <div class="w-1/2 mr-auto text-right">
      {{ if .Paginator.HasNext }}
      <a class="page-link transition ease-in-out duration-500 bg-transparent hover:bg-grey-500 text-grey-500 font-normal py-6 leading-none px-8 text-2xl border border-grey-500 rounded-lg lg:inline-block text-center hover:shadow-md"
        href="{{ .Paginator.Next.URL }}">&raquo;</a>
      {{ end }}
    </div>
  </div>
</nav>
{{ end }}